<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <include
        resource="org/springframework/boot/logging/logback/base.xml" />
    <appender name="TCP"
        class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>10.10.15.27:5601</destination>
        <encoder
            class="net.logstash.logback.encoder.LogstashEncoder">
            <includeCallerInfo>true</includeCallerInfo>
            <customFields>{"index":"config-server*"}
            </customFields>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="TCP" />
    </root>
</configuration>